/* Page */
.erp-dashboard-page {
  /* padding: 30px; */
  background: #f4f7fb;
  min-height: 100vh;
}

.erp-dashboard-title {
  margin-bottom: 20px;
  font-weight: 600;
  color: #2c3e50;
}

/* Cards */
.erp-card {
  border-radius: 12px;
  color: #fff;
  transition: 0.2s;
}

.erp-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.erp-card-body {
  padding: 18px;
}

.erp-card h6 {
  font-size: 14px;
}

.erp-card h3 {
  margin-top: 5px;
  font-weight: 600;
}

/* Colors */
.erp-bg-primary { background: linear-gradient(135deg,#3b82f6,#1d4ed8); }
.erp-bg-success { background: linear-gradient(135deg,#22c55e,#15803d); }
.erp-bg-warning { background: linear-gradient(135deg,#facc15,#ca8a04); color:#000; }
.erp-bg-info { background: linear-gradient(135deg,#06b6d4,#0e7490); }
.erp-bg-secondary { background: linear-gradient(135deg,#64748b,#334155); }
.erp-bg-dark { background: linear-gradient(135deg,#111827,#000); }

/* NEW COLORS */
.erp-bg-purple { background: linear-gradient(135deg,#a855f7,#6d28d9); }
.erp-bg-orange { background: linear-gradient(135deg,#fb923c,#ea580c); }
.erp-bg-pink { background: linear-gradient(135deg,#f472b6,#db2777); }
.erp-bg-teal { background: linear-gradient(135deg,#14b8a6,#0f766e); }
.erp-bg-indigo { background: linear-gradient(135deg,#6366f1,#3730a3); }

/* Tables */
.erp-table-card {
  background: #fff;
  border-radius: 12px;
  padding: 10px;
}

.erp-table-title-warning {
  color: #f59e0b;
}

.erp-table-title-danger {
  color: #ef4444;
}

.erp-danger-text {
  color: #ef4444;
  font-weight: 600;
}

.value_c{
   font-size: 20px;
   font-weight: bold;
}